# Data Wrangling
Using the Alpha Vantage API to pull raw data and technical indicators for the model.

### Import Packages

In [1]:
import pandas as pd
import requests

In [2]:
api_key = 'ECI18FG0ET71Z3U0'

### Define functions to pull stock data

In [3]:
def get_stock_data(symbol, start_date='2010-01-01', end_date='2018-12-31'):
    
    """
    function to pull adjusted stock prices from the alphavantage API.
    
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    start_date is the start date of the time series, defaults to '1/1/2010'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=' + symbol + '&outputsize=full&apikey=' + api_key
        
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Time Series (Daily)']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

In [4]:
def get_ma(symbol, period, start_date='2010-01-01', end_date='2018-12-31'):
    
    """
    funciton to pull simple moving average data for closing prices of a stock using the alpha vantage API
    
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    period is the number of days per moving average, i.e. 7-day moving average -> period = 7
    
    start_date is the start date of the time series, defaults to '1/1/2010'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=SMA&symbol=' + symbol + '&interval=daily&time_period='+ str(period) + '&series_type=close&apikey=' + api_key
    
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Technical Analysis: SMA']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

In [5]:
def get_macd(symbol, start_date='2010-01-01', end_date='2018-12-31'):
    
    """
    funciton to pull the moving average convergence/divergence data for closing prices of a stock using the alpha vantage API
    
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    start_date is the start date of the time series, defaults to '1/1/2010'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=MACD&symbol=' + symbol + '&interval=daily&series_type=close&apikey=' + api_key
    
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Technical Analysis: MACD']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

In [6]:
def get_bbands(symbol, start_date='2010-01-01', end_date='2018-12-31'):
    """
    funciton to pull bollinger bands data for closing prices of a stock with a 21 day period using the alpha vantage API
    
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    start_date is the start date of the time series, defaults to '1/1/2010'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=BBANDS&symbol=' + symbol + '&interval=daily&time_period=21&series_type=close&apikey=' + api_key
    
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Technical Analysis: BBANDS']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

### Create datasets

In [7]:
apple_df = get_stock_data('AAPL')

In [8]:
apple_df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2018-12-28,157.5000,158.5200,154.5500,156.2300,155.5636,42291424,0.0000,1.0000
2018-12-27,155.8400,156.7700,150.0700,156.1500,155.4839,53117065,0.0000,1.0000
2018-12-26,148.3000,157.2300,146.7200,157.1700,156.4996,58582544,0.0000,1.0000
2018-12-24,148.1500,151.5500,146.5900,146.8300,146.2037,37169232,0.0000,1.0000
2018-12-21,156.8600,158.1600,149.6300,150.7300,150.0871,95744384,0.0000,1.0000

In [9]:
google_df = get_stock_data('GOOGL')

In [10]:
google_df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2018-12-28,1059.5000,1064.2300,1042.0000,1046.6800,1046.6800,1718352,0.0000,1.0000
2018-12-27,1026.2000,1053.3400,1007.0000,1052.9000,1052.9000,2299806,0.0000,1.0000
2018-12-26,997.9900,1048.4500,992.6450,1047.8500,1047.8500,2315862,0.0000,1.0000
2018-12-24,984.3200,1012.1200,977.6599,984.6700,984.6700,1817955,0.0000,1.0000
2018-12-21,1032.0400,1037.6700,981.1900,991.2500,991.2500,5232490,0.0000,1.0000

In [11]:
msft_df = get_stock_data('MSFT')

In [12]:
msft_df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2018-12-28,102.0900,102.4100,99.5200,100.3900,99.9609,38169312,0.0000,1.0000
2018-12-27,99.3000,101.1900,96.4000,101.1800,100.7475,49498509,0.0000,1.0000
2018-12-26,95.1400,100.6900,93.9600,100.5600,100.1301,51634793,0.0000,1.0000
2018-12-24,97.6800,97.9700,93.9800,94.1300,93.7276,43935192,0.0000,1.0000
2018-12-21,101.6300,103.0000,97.4600,98.2300,97.8101,111242070,0.0000,1.0000

In [13]:
amzn_df = get_stock_data('AMZN')

In [14]:
amzn_df.tail()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2010-01-08,130.5600,133.6800,129.0300,133.5200,133.5200,9830500,0.0000,1.0000
2010-01-07,132.0100,132.3200,128.8000,130.0000,130.0000,11030200,0.0000,1.0000
2010-01-06,134.6000,134.7300,131.6500,132.2500,132.2500,7178800,0.0000,1.0000
2010-01-05,133.4300,135.4790,131.8100,134.6900,134.6900,8851900,0.0000,1.0000
2010-01-04,136.2500,136.6100,133.1400,133.9000,133.9000,7599900,0.0000,1.0000

### Market indicators
We will also include some composite index data to supplement the raw stock data. This will help improve the predictive power of the model. The data will be downloaded from Yahoo Finance in csv format and added to the raw data folder.

In [15]:
nasdaq = pd.read_csv('raw data/^IXIC.csv', index_col = 0)
nyse = pd.read_csv('raw data/^NYA.csv', index_col = 0)
sp500 = pd.read_csv('raw data/^GSPC.csv', index_col = 0)
tb13 = pd.read_csv('raw data/^IRX.csv', index_col = 0)
tb13.dropna(inplace = True) #13 week treasury bills contains 2 NaN values

### Technical indicators
In addition to the composite index data, we will supplement our model with some common technical indicators: 7 & 21-day moving average, moving average convergence/divergence (MACD), and bollinger bands. These will only be constructed for our target stock, Microsoft.

In [16]:
msft_ma7 = get_ma('MSFT', period = 7)

In [17]:
msft_ma7.head()

                 SMA
2018-12-28   99.9557
2018-12-27  100.4671
2018-12-26  100.7114
2018-12-24  101.4929
2018-12-21  103.6814

In [23]:
msft_ma21 = get_ma('MSFT', period = 21)

In [33]:
msft_ma21.tail()

                 SMA
2018-12-21  106.5543
2018-12-24  106.1267
2018-12-26  106.0071
2018-12-27  105.7552
2018-12-28  105.4338

In [22]:
msft_macd = get_macd('MSFT')

In [34]:
msft_macd.tail()

               MACD MACD_Hist MACD_Signal
2018-12-21  -1.5844   -0.9496     -0.6348
2018-12-24  -2.2868   -1.3216     -0.9652
2018-12-26  -2.2982   -1.0664     -1.2318
2018-12-27  -2.2314   -0.7997     -1.4317
2018-12-28  -2.2167   -0.6280     -1.5887

In [21]:
msft_bbands = get_bbands('MSFT')

In [35]:
msft_bbands.tail()

           Real Lower Band Real Middle Band Real Upper Band
2018-12-21         99.4498         106.5543        113.6587
2018-12-24         97.3583         106.1267        114.8950
2018-12-26         97.0099         106.0071        115.0044
2018-12-27         96.5306         105.7552        114.9799
2018-12-28         95.9576         105.4338        114.9100

### Re-order dataframes
flip order of data frames so oldest dates are first.

In [25]:
def reorder(df):
    return df.sort_index(ascending=True, inplace=True)

In [26]:
dataframes = [apple_df, google_df, amzn_df, msft_df, msft_ma7, msft_ma21, 
              msft_macd, msft_bbands]

for df in dataframes:
    reorder(df)

### Load raw data to flat files
Now that we've got our raw data, let's dump them to CSV files for further analysis.

In [27]:
apple_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/apple.csv')
google_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/google.csv')
msft_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft.csv')
amzn_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/amzn.csv')
msft_ma7.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft_ma7.csv')
msft_ma21.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft_ma21.csv')
msft_macd.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft_macd.csv')
msft_bbands.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft_bbands.csv')

### Normalize data

In [44]:
from sklearn.preprocessing import StandardScaler

In [37]:
scaler = StandardScaler()

In [49]:
apple_df_norm = scaler.fit_transform(apple_df)

google_df_norm = scaler.fit_transform(google_df)

msft_df_norm = scaler.fit_transform(msft_df)

amzn_df_norm = scaler.fit_transform(amzn_df)

nasdaq_norm = scaler.fit_transform(nasdaq)

nyse_norm = scaler.fit_transform(nyse)

sp500_norm = scaler.fit_transform(sp500)

tb13_norm = scaler.fit_transform(tb13)

#normalizer returns numpy arrays, so the data will need to be changed to a data frame
#before exporting

apple_df_norm = pd.DataFrame(apple_df_norm, index = apple_df.index, columns = apple_df.columns)

google_df_norm = pd.DataFrame(google_df_norm, index = google_df.index, columns = google_df.columns)

msft_df_norm = pd.DataFrame(msft_df_norm, index = msft_df.index, columns = msft_df.columns)

amzn_df_norm = pd.DataFrame(amzn_df_norm, index = amzn_df.index, columns = amzn_df.columns)

nasdaq_norm = pd.DataFrame(nasdaq_norm, index = nasdaq.index, columns = nasdaq.columns)

nyse_norm = pd.DataFrame(nyse_norm, index = nyse.index, columns = nyse.columns)

sp500_norm = pd.DataFrame(sp500_norm, index = sp500.index, columns = sp500.columns)

tb13_norm = pd.DataFrame(tb13_norm, index = tb13.index, columns = tb13.columns)

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

### Load scaled data to flat files

In [52]:
apple_df_norm.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/normalized data/apple.csv')
google_df_norm.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/normalized data/google.csv')
msft_df_norm.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/normalized data/msft.csv')
amzn_df_norm.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/normalized data/amzn.csv')
nasdaq_norm.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/normalized data/nasdaq.csv')
nyse_norm.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/normalized data/nyse.csv')
sp500_norm.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/normalized data/sp500.csv')
tb13_norm.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/normalized data/tb13.csv')